@page "/"
@namespace BlazorAdminPanel.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PharmacyPotapenkova</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link href="~/dist/jqvmap.css" media="screen" rel="stylesheet" type="text/css">

    <style>
        #chart3 {
            position: relative;
            height: 100% !important;
            width: 100% !important;
        }
    </style>

    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
    </div>

    <footer style="background: #ffebb8;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 offset-lg-4">
                        <small class="text-left">Разработчик Потпенкова Екатерина Михайловна</small>
                </div>
            </div>
        </div>
    </footer>

    <script src="_framework/blazor.server.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/jqvmap/js/jquery.vmap.js"></script>
    <script type="text/javascript" src="~/jqvmap/js/jquery.vmap.world.js" charset="utf-8"></script>

    <script>
        function startMaps(_defCol, _selCol) {
            jQuery('#vmap').vectorMap({
                map: 'world_en',
                backgroundColor: '#fff',
                borderColor: '#f7f3e1',
                borderOpacity: 1,
                borderWidth: 2,
                color: '#ffd966',
                enableZoom: false,
                hoverColor: '#ff9933',
                hoverOpacity: 0.7,
                normalizeFunction: 'linear',
                scaleColors: ['#ff9933', '#006400'],
                selectedColor: '#ff9933',
                multiSelectRegion: true,

                // Выделенные регионы
                selectedRegions: null,
                showTooltip: false,

            });
        }

        function selectRegions(data) {
            console.log(data);
            jQuery('#vmap').vectorMap('set', 'colors', data);
        }
    </script>


    <script src="~/chartjs/js/chart.min.js"></script>
    <script>

        var option = {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            maintainAspectRatio: false,
            legend: {
                display: false
            }
        };

        // ===== Граф клиентов =====

        var customersData = {
            labels: ['янв', 'фев', 'март', 'апр', 'май', 'июнь', 'июль', 'авг', 'сент', 'окт', 'нояб', 'дек'],
            datasets: [{
                data: [10, 19, 3, 5, 2, 3, 10, 19, 3, 0, 0, 0],
                backgroundColor: [
                    'rgba(255, 196, 80, 0.5)'
                ],
                borderColor: [
                    'rgba(255, 110, 0, 0.4)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)'
                ],
                borderWidth: 2
            }]
        };

        function startChartCustomers() {
            ctx1 = document.getElementById('chartCustomers').getContext('2d');
            chart1 = new Chart(ctx1, {
                type: 'line',
                data: customersData,
                options: option
            });
        }

        function changeCustomersData(data) {
            chart1.data.datasets[0].data = data;
            chart1.update();
        }

        // ===== /Граф клиентов =====


        // ===== Граф доходов =====

        var earningsData = {
            labels: ['янв', 'фев', 'март', 'апр', 'май', 'июнь', 'июль', 'авг', 'сент', 'окт', 'нояб', 'дек'],
            datasets: [{
                data: [23, 19, 3, 5, 2, 3, 2, 10, 5, 0, 0, 0],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.4)',
                    'rgba(54, 162, 235, 0.4)',
                    'rgba(255, 206, 86, 0.4)',
                    'rgba(75, 192, 192, 0.4)',
                    'rgba(255, 99, 132, 0.4)',
                    'rgba(54, 162, 235, 0.4)',
                    'rgba(255, 206, 86, 0.4)',
                    'rgba(75, 192, 192, 0.4)',
                    'rgba(255, 99, 132, 0.4)',
                    'rgba(54, 162, 235, 0.4)',
                    'rgba(255, 206, 86, 0.4)',
                    'rgba(75, 192, 192, 0.4)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                ],
                borderWidth: 1
            }]
        };

        function startChartEarnings() {
            ctx2 = document.getElementById('chartEarnings').getContext('2d');
            chart2 = new Chart(ctx2, {
                type: 'bar',
                data: earningsData,
                options: option
            });
        }

        function changeEarningsData(data) {
            chart2.data.datasets[0].data = data;
            chart2.update();
        }

                    // ===== /Граф доходов =====
    </script>

</body>
</html>
